.sub-title-1
{
    color: darkblue;
    font-size: 10vh;
}

body {
    background: linear-gradient(to right, lightblue, cyan);
    font-family: Montserrat !important;
    text-align: center;
}

ul {
    color: darkblue;
}

ul li a {
    text-decoration: none;
    color: darkblue !important;
}

ul li {
    font-weight: bold;
    font-size: 3.5vh;
    margin-bottom: 1vh;
    color: #021842;
    padding: 1vh;
    transition: background 0.3s, transform 0.3s;
    border-radius: 0.5rem;
}

ul li:hover {
    background-color: #98e6fa;
    transform: translate(2px, -5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
