@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #00bcc0, #00ccd3);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    text-align: center;
    font-family: Roboto;
    font-size: 10vh;
    color: darkblue;
}

.list-wrapper {
    width: fit-content !important;
    margin: 0 auto;
}

.list {
    list-style: none;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-size: 5vh;
}

div ul li {
    color: darkblue !important;
    transition: background 0.3s, transform 0.3s;
    border-radius: 0.5rem;
}

div ul li:hover {
    background-color: #98e6fa;
    transform: translate(2px, -5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: darkblue !important;
    margin: 0;
    text-decoration: none;
    display: block;
    width: 100%;
}

footer {
    margin-top: auto;
}

.final-title {
    text-align: center;
    font-family: Roboto;
    color: darkblue;
    font-size: 6vh;
}

a:hover {
    text-decoration: underline !important;
}

